In [1]:
import pandas as pd

In [21]:
df1 = pd.read_csv('resultado_melhores_colunas.csv')
df1.rename(columns={'porcentagem': 'melhores'}, inplace=True)
df2 = pd.read_csv('resultado_todas_colunas.csv')
df2.rename(columns={'porcentagem': 'todas'}, inplace=True)

In [23]:
cols1 = ['melhores', 'id_cena', 'caso']
cols2 = ['todas', 'id_cena', 'caso']

In [25]:
df = pd.merge(df1[cols1], df2[cols2], on=['id_cena', 'caso'])
df = df[sorted(df.columns)]
df

    caso           id_cena  melhores  todas
0      1  LS82260702017256        92     60
1      2  LS82260702017256        98     92
2      3  LS82260702017256        69     80
3      1  LS82210702017269        46     65
4      2  LS82210702017269        73     79
5      3  LS82210702017269        11     52
6      1  LS82210672017285        36     60
7      2  LS82210672017285        63     82
8      3  LS82210672017285        16     55
9      1  LS82210742018128        23     40
10     2  LS82210742018128        41     63
11     3  LS82210742018128        30     67